// [FONT] Google fonts import //
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Raleway&display=swap');

// Custom Colors //
$backgroundGrey: #242e38;
$clear: #00000000;
$darkish: #42484e;
$ethereum: #434875;
$like: #00e200;
$royalEthereum: #4d31ce;
$tweetDark: #15202b;
$westworld: #777777;
$fpi247: rgb(180, 0, 0);


$jjShopPrimary: #ED1B24;
$jjShopWarning: #ffa600;


// [FONT] H's //
$font-family: 'Raleway', sans-serif;
$font-family-alternative: 'Libre Caslon Text', sans-serif;