// [IMPORT] Personal //
@import './sass-variables.scss';

// [HTML-TAGS] //
body {
	font-family: $font-family !important;
	opacity: 1;
	background: white;
}

h1, h2, h3, h4, h5, h6 { font-family: $font-family !important; }

button { font-family: $font-family !important; }

// Comment List Image Fix //
.comment img { max-width: 100%; }

// Distinct blockquotes //
.comment blockquote {
	margin: 0;
	background-color: rgba(0, 0, 0, 0.171);
	border-color: #535353;
	border-style: solid;
	border-width: 1px;
	padding: 0px 10px;
}

// Distinct p //
.comment p { margin: 0; }


.bg-dotted {
	background-image:
		radial-gradient(rgba(0, 0, 0, 0) 4%, transparent 4%)
	;
	background-position: 0 0, 20px 20px;
	background-size: 40px 40px;
}

.bg-striped {
	background: repeating-linear-gradient(
		45deg,
		rgb(254, 254, 254),
		rgb(254, 254, 254) 40px,
		rgb(255, 255, 255) 40px,
		rgb(255, 255, 255) 80px
	);
}

.bg-shade {
	background-color: rgba(0, 0, 0, 0.55) !important;
}

.bg-shine {
	background-color: rgba(255, 255, 255, 0.55) !important;
}

@media screen and (min-width: 576px) {
	.aw-background {
		width: 100%;
		
		background-image: url('../pattern.png');
		background-repeat: repeat;
		background-size: 10%;
	
		-webkit-animation-name: slide;
		-webkit-animation-duration: 100s;
	
		animation-name: slide;
		animation-duration: 100s;
		
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	
		// [MEDIA] //
		@media (max-width: 800px) { background-size: 80%; }
		@media (max-width: 1200px) { background-size: 40%; }
	}
	
	@-webkit-keyframes slide {
		from { background-position: left 0; }
		to { background-position: right 100%; }
	}
	
	@-moz-keyframes slide {
		from { background-position: 0%; }
		to { background-position: 100%; }
	}
	
	@keyframes slide {
		from { background-position: left 0; }
		to { background-position: right 100%; }
	}
}

.text-bold {
	font-weight: bold;
}

.border-dashed {
	border-style: dashed !important;
}