body {
	background-color: rgb(202, 202, 202);
	background-size: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.text-spread { letter-spacing: 4px; }

.text-spread-sm { letter-spacing: 2px; }

.text-spread-lg { letter-spacing: 8px; }